body{
    font-family: 'Indie Flower', cursive;
    background-color: white;
    background-size: cover;
    }
    
    h1{
      font-family: 'Bitter', serif;
      font-size: 24px;
      color: gold;
      text-transform: uppercase;
    }

    h2{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 24px;
      color: gold;
      text-transform: uppercase;
    }
    
    h3{
      font-family: 'Vibur', cursive;
      font-size: 24px;
      color: gold;
      text-transform: uppercase;
     }
